<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        .nav{
            float: left;
            width: 150px;
            height: 1000px;
            background-color: rgb(247, 234, 234);
            color:ivory;
            padding: 10px;
            margin:10px;
            text-align: center;
        }
        a{
            display: block;
            width: 100px;
            height:25px;
            color:aqua;
            background-color: green;
            margin: 10px;
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;">Welcome to the HomePage Admin</h1>
    <hr/>
    <div class="nav">
        <p>
            {{!-- <a href="Profile">Profile</a> --}}
            {{!-- <a href="AddStudent">Add Student</a> --}}
            <a href="/AllStudent">Student Progress</a>
            <a href="/addquestion">Add Questions</a>
            <a href="#">Create Question Paper</a>
        </p>
    </div>
    <div>
        <h2>Description</h2>
        <hr/>
        <p>
            This portal is for creating an Online Aptitude Test, where you can add Students, questions,create QuestionPapers
            as well as you can view the result of the Students 
        </p>
    </div>
</body>
</html>