<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/mainStyle.css">
    <title>Registration Page</title>
</head>
<body align ="center">
    <h1>Student Registration Page</h1>
    <hr>
        <form action="/Registration" method="POST">
            <center>
            <table>
                <tr>
                    <th><label for="name"><b>Username :</b></label></th>
                    <th><input type="text" name="name" placeholder="Enter Username"/></th>
                </tr>
                <tr>
                    <th><label for="password"><b>Password :</b></label></th>
                    <th><input type="text" name="password" placeholder="Enter Password" /></th>
                </tr>
                <tr>
                    <th><label for="fullName"><b>Full Name :</b></label></th>
                    <th><input type="text" name="fullName" placeholder="Enter Full Name" /></th>
                </tr>
                <tr>
                    <th><label for="City"><b>City :</b></label></th>
                    <th><input type="text" name="City" placeholder="Enter City" /></th>
                </tr>
                <tr>
                    <th><label for="SSC"><b>SSC % :</b></label></th>
                    <th><input type="text" name="SSC" placeholder="Enter SSC %" /></th>
                </tr>
                <tr>
                    <th><label for="Degree"><b>Degree % :</b></label></th>
                    <th> <input type="text" name="Degree" placeholder="Enter Degree %" /></th>
                </tr>
            </table>
        </center>  
            <p>
                <button>Register</button>
            </p>
        </form>
    </hr>
</body>
</html>