<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form>
            <table>
                <tr>
                    <td>
                        <label>User Name:</label>
                    </td>
                    <td>
                        <input type="text" name="uname" placeholder="Enter User Name">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>First Name:</label>
                    </td>
                    <td>
                        <input type="text" name="fname" placeholder="Enter First Name">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Last Name:</label>
                    </td>
                    <td>
                        <input type="text" name="lname" placeholder="Enter Last Name">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Email:</label>
                    </td>
                    <td>
                        <input type="email" name="email" placeholder="Enter email">
                    </td>
                </tr>
                 <tr>
                    <td>
                        <label>Password:</label>
                    </td>
                    <td>
                        <input type="password" name="password" placeholder="Enter Password">
                    </td>
                </tr>
                 <tr>
                    <td>
                        <label>Phone Number:</label>
                    </td>
                    <td>
                        <input type="number" name="number" placeholder="Enter email Name">
                    </td>
                </tr>

            </table>
        </form>
    </div>
</body>
</html>